body {
    background: #000;
    color: #fff;
	font-family: 'Coda', cursive;
    text-align: center;
}

canvas {
	max-height: 100%;
	max-width: 100%;
	margin-top: -30px;
}

.header {
	margin-top: 30px;
}

.score-panel {
	max-width: 505px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.score-panel .lives {
	color: #d73f00;
    display: inline-block;
    margin: 0;
}

.score-panel .lives li {
    display: inline-block;
    list-style: none;
}